<!doctype html>
<html lang="ru">
<head>
    {{> elements/meta }}
    <title>Список целей</title>
</head>
<body>
<header>{{> elements/header }}</header>
<nav>
    <div class="menu">
        {{>nav}}
    </div>
    <div class="menu">
        <a href="/goals/create" class="btn">Добавить цель</a>
        <a href="/goals/transaction" class="btn">Транзакция</a>
    </div>
</nav>

<main>

    <div class="card-container">
        {{#goals}}
        <div class="card">
            <a href='/goals/update?id={{id}}' class="btn">{{goal}}</a>
            <p>{{currentScore}}/{{scoreCap}}</p>
            <a href='/goals/delete?id={{id}}' class="btn">
                {{#status}}Выполнить{{/status}}
                {{^status}}Удалить{{/status}}
            </a>
        </div>
        {{/goals}}
    </div>
</main>

<footer>{{> elements/footer }}</footer>
</body>
</html>