<!doctype html>
<html lang="ru">
<head>
    {{>elements/meta}}
    <title>Транзакция</title>
</head>
<body>
<header>{{>elements/header}}</header>
<nav>
    <div class="menu">
        {{>nav}}
    </div>
    <div class="menu">
    </div>
</nav>

<main>
    <form action="/goals/transaction" method="post" class="creator">
        <label for="source">Цель-источник:</label>
        <select name="sourceId" id="source" class="creator-field">
        {{#goals}}
            <option value="{{id}}">{{goal}}({{currentScore}}/{{scoreCap}})</option>
        {{/goals}}
        </select>
        
        <label for="destination">Цель-приемник:</label>
        <select name="destinationId" id="destination" class="creator-field">
        {{#goals}}{{^status}}
            <option value="{{id}}">{{goal}}({{currentScore}}/{{scoreCap}})</option>
        {{/status}}{{/goals}}
        </select>

        <label for="amount">Количество:</label>
        <input type="number" min="1" name="amount" class="creator-field">
        <button type="submit" class="btn">Перевести</button>
    </form>
</main>

<footer>{{>elements/footer}}</footer>
</body>
</html>