<!doctype html>
<html lang="ru">
<head>
    {{>elements/meta}}
    <title>Расписание</title>
</head>
<body>
<header>{{>elements/header}}</header>
<nav>
    <div class="menu">
        {{>nav}}
    </div>
</nav>

<main>
    <div class="card-container">
    {{#schedules}}
        <div class="card">
            <h3>{{#key}}{{address}}{{/key}}</h3>
            
            {{#value}} {{#taskStatusMap}} {{#entrySet}}
            <p>
                <a href="/schedule/{{#key}}{{id}}{{/key}}" {{#value}}class="done"{{/value}}>
                    {{#key}} {{taskName}} ({{#room}}{{room}}{{/room}}, {{duration}} мин.) {{/key}}
                </a> 
            </p>
            {{/entrySet}} {{/taskStatusMap}} {{/value}}

        </div>
    {{/schedules}}
    </div>
</main>

<footer>{{>elements/footer}}</footer>
</body>
</html>