<!doctype html>
<html lang="ru">
<head>
    {{>elements/meta}}
    <title>Расписание</title>
</head>
<body>
<header>{{>elements/header}}</header>
<nav>{{>nav}}</nav>

<main>
    {{#schedules}}
        <div>
            <p>Адрес: {{#key}}{{address}}{{/key}}</p>
            <table>
                <thead>
                <tr>
                    <th>Задача</th>
                    <th>Время, мин</th>
                    <th>Приоритет</th>
                    <th>Статус</th>
                </tr>
                </thead>
                <tbody>
                {{#value}} {{#taskStatusMap}} {{#entrySet}} 
                    
                    <tr>
                        <td>{{#key}} {{taskName}} {{/key}}</td>
                        <td>{{#key}} {{duration}} {{/key}}</td>
                        <td>{{#key}} {{currentPriority}} {{/key}}</td>
                        <td><input type="checkbox" {{#value}}checked{{/value}} disabled></td>
                        <td>
                            <form action="/schedule/{{#key}} {{id}} {{/key}}" method="post">
                                <button name="addressId"
                                        value="{{#key}} {{#room}} {{#address}} {{id}} {{/address}} {{/room}} {{/key}}">
                                    Изменить статус
                                </button>
                            </form>
                        </td>
                    </tr>
                    
                {{/entrySet}} {{/taskStatusMap}} {{/value}}
                </tbody>

            </table>
        </div>
    {{/schedules}}
</main>

<footer>{{>elements/footer}}</footer>
</body>
</html>