<!doctype html>
<html lang="ru">
<head>
    {{> elements/meta }}
    <title>Меню</title>
</head>
<body>
<header>{{> elements/header}}</header>

<main>

    <ul>
        <li><a href="/goals">Цели</a></li>
        <li><a href="/addresses">Задачи</a></li>
    </ul>

</main>


<footer>{{> elements/footer }}</footer>
</body>
</html>