<!doctype html>
<html lang="ru">
<head>
    {{> elements/meta }}
    <title>Меню</title>
</head>
<body>
<header>{{> elements/header}}</header>
<nav>
    <div class="menu">
        {{>nav}}
    </div>
    <div class="menu">
    </div>
</nav>


<main>

    <div class="creator">
        <label>Сколько минут в день уделять уборке: </label>
        <form action="/schedule/timeCap" method="post">
            <input type="number" min="10" max="60" name="timeCap" class="creator-field"/>
            <button type="submit" class="btn">Сохранить</button>
        </form>
    </div>

</main>


<footer>{{> elements/footer }}</footer>
</body>
</html>