<!doctype html>
<html lang="ru">
<head>
    {{>elements/meta}}
    <title>Создание адреса</title>
</head>
<body>
<header>{{>elements/header}}</header>
<nav>
    <div class="menu">
        {{>nav}}
    </div>
    <div class="menu">
    </div>
</nav>

<main>
    <form action="/addresses/create" method="post" class="creator">
        <label for="address">Адрес:</label>
        <input type="text" name="address" required min="1" max="30" class="creator-field">
        <button type="submit" class="btn">Создать</button>
    </form>
</main>

<footer>{{>elements/footer}}</footer>
</body>
</html>