<!doctype html>
<html lang="ru">
<head>
    {{>elements/meta}}
    <title>Список адерсов</title>
</head>
<body>
<header>{{>elements/header}}</header>
<nav>
    <div class="menu">
        {{>nav}}
    </div>
    <div class="menu">
        <a href="/rooms/create?addressId={{id}}" class="btn">Добавить комнату</a>
    </div>
</nav>

<main>
    {{#address}}
    <div class="card-container">
        {{#rooms}}
            <div class="card">
                <h3>{{#address}}{{address}}{{/address}}</h3>
                <a href="/rooms/{{id}}" class="btn">{{room}}</a>
                <a href="/rooms/{{id}}/update" class="btn">Изменить</a>
                <form action="/rooms/{{id}}/delete" method="post">
                    <button type="submit" name="addressId" value="{{#address}}{{id}}{{/address}}" class="btn">Удалить</button>
                </form>
            </div>
        {{/rooms}}
    </div>
    {{/address}}

    {{^address}}
        <p>Нет детализации для данного адреса!</p>
    {{/address}}
</main>

<footer>{{>elements/footer}}</footer>
</body>
</html>