<!doctype html>
<html lang="ru">
<head>
    {{>elements/meta}}
    <title>Список адерсов</title>
</head>
<body>
<header>{{>elements/header}}</header>
<nav>{{>nav}}</nav>

<main>
    <form action="/addresses/create" method="get">
        <button type="submit">Добавить адрес</button>
    </form>

    {{#addresses}}
        <div style="margin: 1em;">
            <form action="/addresses/{{id}}" method="get">
                <button type="submit">{{address}}</button>
            </form>
            <form action="/addresses/{{id}}/update" method="get">
                <button type="submit">Изменить</button>
            </form>
            <form action="/addresses/{{id}}/delete" method="post">
                <button type="submit">Удалить</button>
            </form>
        </div>
    {{/addresses}}
</main>

<footer>{{>elements/footer}}</footer>
</body>
</html>