<!doctype html>
<html lang="ru">
<head>
    {{>elements/meta}}
    <title>Список адерсов</title>
</head>
<body>
<header>{{>elements/header}}</header>
<nav>
    <div class="menu">
        {{>nav}}
    </div>
    <div class="menu">
        <a href="/addresses/create" class="btn">Добавить адрес</a>
    </div>
</nav>

<main>

    <div class="card-container">
    {{#addresses}}
        <div class="card">
            <a href="/addresses/{{id}}" class="btn">{{address}}</a>
            <a href="/addresses/{{id}}/update" class="btn">Изменить</a>
            <a href="/addresses/{{id}}/delete" class="btn">Удалить</a>
        </div>
    {{/addresses}}
    </div>

</main>

<footer>{{>elements/footer}}</footer>
</body>
</html>