<!doctype html>
<html lang="ru">
<head>
    {{>elements/meta}}
    <title>Создание адреса</title>
</head>
<body>
<header>{{>elements/header}}</header>
<nav>
    <div class="menu">
        {{>nav}}
    </div>
    <div class="menu">
    </div>
</nav>

<main>
    {{#address}}
        <form action="/addresses/{{id}}/update" method="post">
            <table>
                <thead>
                <tr>
                    <th>Вид значения</th>
                    <th>Адрес</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>Текущее значение</td>
                    <td>{{address}}</td>
                </tr>
                <tr>
                    <td>Новое значение</td>
                    <td><input type="text" name="address"></td>
                </tr>
                <tr>
                    <td><button type="submit">Сохранить</button></td>
                    <td><button type="reset">Сбросить</button></td>
                </tr>
                </tbody>
            </table>
        </form>
    {{/address}}

    {{^address}}
        <p>
            Не указан какой-либо адрес!
        </p>
    {{/address}}
</main>

<footer>{{>elements/footer}}</footer>
</body>
</html>