<!doctype html>
<html lang="ru">
<head>
    {{>elements/meta}}
    <title>Список комнат</title>
</head>
<body>
<header>{{>elements/header}}</header>
<nav>
    <div class="menu">
        {{>nav}}
    </div>
    <div class="menu">
    </div>
</nav>

<main>
    {{#addressId}}
    <form action="/rooms/create" method="post" class="creator">
        <label for="room">Комната:</label>
        <input type="text" min="1" max="30" name="room" id="room" required class="creator-field">
        <button type="submit" name="addressId" value="{{addressId}}" class="btn">Создать</button>
    </form>
    {{/addressId}}

    {{^addressId}}
    <p>Для какого адреса команата?</p>
    {{/addressId}}
</main>

<footer>{{>elements/footer}}</footer>
</body>
</html>