<!doctype html>
<html lang="ru">
<head>
    {{>elements/meta}}
    <title>Список комнат</title>
</head>
<body>
<header>{{>elements/header}}</header>
<nav>{{>rooms/nav}}</nav>

<main>

</main>

<footer>{{>elements/footer}}</footer>
</body>
</html>